.tram {
    position: relative;
    width: 60%;
    height: 500px;
    border: 5px solid black;
    margin: 10px auto;
}
.top {
    position: relative;
    background-color: rgb(235, 188, 130);
    /* border: 2px solid rgb(159, 99, 25); */
    height: 10px;
    width: 80%;
    top: 10%;
    left: 10%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}
.pole {
    position: relative;
    background-color: gray;
    width: 8px;
    height: 100px;
}
.back {
    left: 11%;
    top: 10%;
}
.midback {
    left: 31%;
    top: -10%;
}
.midfront {
    left: 51%;
    top: -30%;
}
.front {
    left: 71%;
    top: -50%;
}
.windshield {
    position: relative;
    background-color: aqua;
    height: 100px;
    width: 15px;
    border-top-right-radius: 30%;
    right: -88%;
    top: -70%
}
.side {
    position: relative;
    background-color: navy;
    width: 81%;
    height: 90px;
    left: 10%;
    bottom: 70%;
}
.wheel {
    position: absolute;
    background-color: black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.f {
    bottom: 45%;
    left: 75%;
}
.b {
    bottom: 45%;
    left: 25%
}
.text {
    position: absolute;
    color: goldenrod;
    font: bold 40px 'sans serif';
    z-index: 1;
    bottom: 57%;
    left: 15%; 
}
